<div class="col-sm-12 col-lg-12">
    <div class="card">

        <div class="card-body">
            <p-table #dt [columns]="cols" styleClass="ui-table-cars" [value]="terminoRef" [paginator]="true" [rows]="10"
                dataKey="vin">
                <ng-template pTemplate="caption">
                    <div class="ui-table-globalfilter-container" style="font-size: 18px;">
                        CREDENCIALES
                    </div>
                    <div class="d-flex justify-content-end">
                        <input class="form-check-input" type="checkbox" id="checkbox2" [value]="i"
                            (click)="all($event.target.checked)">
                        <label class="form-check-label item-label mt-2 mr-2" for="All">SELECCIONAR TODO </label>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>


                    <tr [pSelectableRow]="rowData">
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>

                    <tr style="background-color: aqua;">
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em;">
                            <input *ngSwitchCase="'cargo'" pInputText type="text"
                                placeholder="Buscar Denominacion del Puesto" class="ui-column-filter"
                                style="width: 100%; margin-top: 0;"
                                (input)="dt.filter($event.target.value, col.field, 'startsWith')">
                            <input *ngSwitchCase="'fecha_inicio'" pInputText type="text" placeholder="Buscar por Fecha"
                                class="ui-column-filter" style="width: 100%; margin-top: 0;"
                                (input)="dt.filter($event.target.value, col.field, 'contains')">
                            <input *ngSwitchCase="'detalle'" pInputText type="text" placeholder="Buscar Dirección"
                                class="ui-column-filter" style="width: 100%; margin-top: 0;"
                                (input)="dt.filter($event.target.value, col.field, 'contains')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                        <td>{{rowData.cargo }} - {{ rowData.objeto_contratacion }} {{ rowData.sede_trabajo }}</td>
                        <td>{{rowData.nombres }} {{ rowData.apellido_paterno }} {{ rowData.apellido_materno }}</td>

                        <td>
                            <button pButton type="button" title="Visualizar" class="ui-button-success"
                                icon="ui-icon-search" [routerLink]="['/tdr-visualizar', rowData.id_termino_referencia ]"
                                style="margin-right: .5em; font-size: larger;"></button>
                            <button pButton type="button" title="Editar" class="orange-btn"
                                [routerLink]="['/form-tdr-editar', rowData.id_termino_referencia ]"
                                style="font-size: larger;" icon="ui-icon-edit"></button>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="checkbox1" [value]="i"
                                (click)="check(rowData, $event.target.checked)" [checked]="rowData.selected">

                            <!--            <button class="button1" (click)="postContrato(rowData.id_formulario_contratacion)"
                                data-toggle="modal" data-target="#modalAdd">
                                GENERAR 
                            </button> -->
                        </td>
                 
                    </tr>
                </ng-template>
            </p-table>
            <div class="d-flex justify-content-center mt-4">
                <button class="button1" routerLink="/credencial-seleccionado" >SIGUIENTE</button>
            </div>
            <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
    </div>
</div>