<div class="container">
  <form (ngSubmit)="onSubmit()">

    <div class="card">
      <h5 class="card-header">FORMULARIO: CERTIFICACIÓN POA</h5>

      <div class="card-body">

        <div class="card">
          <div class="card-body">

            <div class="row mt-4">
              <div class="col-md-3">Fecha de Solicitud</div>
              <div class="col-md-5">
                <input class="form-control" type="date" [(ngModel)]="fecha_solicitud"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-3">Acción a Corto Plazo</div>
              <div class="col-md-5">
                <input class="form-control" type="text" [(ngModel)]="accion_corto_plazo"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-3">Resultados Esperados</div>
              <div class="col-md-5">
                <input class="form-control" type="text" [(ngModel)]="resultado_esperado"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-3">Operación</div>
              <div class="col-md-5">
                <input class="form-control mb-4" type="text" [(ngModel)]="operacion"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p>¿TDR correctamente?</p>
              </div>
              <div class="col-sm-6">
                <div class="col-md-3">
                  Si
                  <input class="form-check-input formContr" (change)="onCheckFormCont($event, 'tdr')"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="flagTDR" type="checkbox" value="1"><br><br>
                  No
                  <input class="form-check-input formContr" (change)="onCheckFormCont($event, 'tdr')"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="flagTDR2" type="checkbox" value="0"><br><br>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p>¿Hoja de vida correctamente?</p>
              </div>
              <div class="col-sm-6">
                <div class="col-md-5">
                  Si
                  <input class="form-check-input formContr3" [ngModelOptions]="{standalone: true}" [(ngModel)]="flagHV"
                    (change)="onCheckFormCont($event, 'hoja_vida')" type="checkbox" value="1"><br><br>
                  No
                  <input class="form-check-input formContr3" [ngModelOptions]="{standalone: true}" [(ngModel)]="flagHV2"
                    (change)="onCheckFormCont($event, 'hoja_vida')" type="checkbox" value="0"><br><br>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p>¿FUC correctamente?</p>
              </div>
              <div class="col-sm-6">
                <div class="col-md-3">
                  Si
                  <input class="form-check-input formContr2" [ngModelOptions]="{standalone: true}" [(ngModel)]="flagFUC"
                    (change)="onCheckFormCont($event, 'fuc')" type="checkbox" value="1"><br><br>
                  No
                  <input class="form-check-input formContr2" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="flagFUC2" (change)="onCheckFormCont($event, 'fuc')" type="checkbox" value="0"><br><br>
                </div>
              </div>

            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4" style="margin-right: 10px;">Modificar</button>
        <button type="button" routerLink="/fuc-listado" class="btn btn-secondary mt-4">Cancelar</button>

      </div>
    </div>
  </form>




</div>